# Sample .travis.yml for R projects.
#
# See README.md for instructions, or for more configuration options,
# see the wiki:
#   https://github.com/craigcitro/r-travis/wiki

language: r
latex: false
cache:
  directories:
    - $TRAVIS_BUILD_DIR/packrat/src
    - $TRAVIS_BUILD_DIR/packrat/lib
  packages: true

repos:
  CRAN: https://cloud.r-project.org
  
#env
env:
  global:
  - _R_CHECK_FORCE_SUGGESTS_=false
  - MAKEFLAGS="-j 2"
  
include:
  - r: release
  - r: oldrel 
  - r: devel

r_packages:
  - survival
  - quantreg
  - Formula
  - knitr

before_install:
  - mkdir -p ~/.R; echo 'PKG_CXXFLAGS := ${PKG_CXXFLAGS} -Wall -Wextra -pedantic -Werror' > ~/.R/Makevars

install:
  - R -e "0" --args --bootstrap-packrat
  
after_success:
  - bash <(curl -s https://codecov.io/bash)

